<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.png}"/>
</head>
<body class="limiter">
<header>
    <div class="container">
        <div class="navbar">
            <a class="a-link-margin" th:href="@{/} ">На главную</a>
            <ul class="p-l-500">
                <div th:if="${#request.isUserInRole('BUYER')}">
                    <li><a class="a-link-margin" th:href="@{/buyer/personalAccount}">
                        Аккаунт
                    </a></li>
                </div>
                <div>
                    <li><a class="a-link-margin" th:href="@{/seller/personalAccount}">
                        Аккаунт
                    </a></li>
                </div>
                <li><a class="a-link-margin" th:href="@{/logout}">
                    Выход
                </a></li>
            </ul>
        </div>
    </div>
</header>

<div th:if="${#request.isUserInRole('BUYER')}">
    <div class="container-login100">
        <div class="wrap-login100 p-t-60 p-b-30">
            <ul>
                <li style="margin-left: 20px">
                    <a th:href="@{/product/findProduct}">
                        <div class="centerVertical centerHorizon buttonMenu">Найти <br>Товар</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div th:if="${#request.isUserInRole('SELLER')}">
    <div class="container-login100">
        <div class="wrap-login100 p-t-60 p-b-30">
            <ul>
                <li style="margin-left: 20px">
                    <a th:href="@{/seller/sellerRating}">
                        <div class="centerVertical centerHorizon buttonMenu">Просмотреть <br>Рейтинг</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div th:if="${#request.isUserInRole('ADMIN')}">
    <div class="container-login100">
        <div class="wrap-login100 p-t-60 p-b-30">
            <ul>
                <li>
                    <a th:href="@{/admin/showUser}">
                        <div class="centerHorizon centerVertical buttonMenu">
                            Просмотр Пользователей
                        </div>
                    </a>
                </li>
                <li style="margin-left: 20px">
                    <a th:href="@{/admin/findUser}">
                        <div class="centerVertical centerHorizon buttonMenu">Найти Пользователя</div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/blockUser}">
                        <div class="centerHorizon centerVertical buttonMenu">
                            Блокировка Пользователя
                        </div>
                    </a>
                </li>
                <li style="margin-left: 20px">
                    <a th:href="@{/admin/deleteUser}">
                        <div class="centerVertical centerHorizon buttonMenu">Удаление Пользователя</div>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a th:href="@{/product/showProduct}">
                        <div class="centerHorizon centerVertical buttonMenu">Просмотр Товаров</div>
                    </a>
                </li>
                <li style="margin-left: 20px">
                    <a th:href="@{/product/findProduct}">
                        <div class="centerVertical centerHorizon buttonMenu">Найти <br>Товар</div>
                    </a>
                </li>
                </li>
                <li style="margin-left: 20px">
                    <a th:href="@{/admin/addProduct}">
                        <div class="centerVertical centerHorizon buttonMenu">Добавление <br>Товара</div>
                    </a>
                </li>
            </ul>
            <ul>
                <li style="margin-left: 20px">
                    <a th:href="@{/act/showAct}">
                        <div class="centerVertical centerHorizon buttonMenu">Просмотр <br>Чеков</div>
                    </a>
                </li>
                <li style="margin-left: 20px">
                    <a th:href="@{/act/addAct}">
                        <div class="centerVertical centerHorizon buttonMenu">Добавление <br>Чека</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>