<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.png}"/>
</head>
<body class="limiter">
<div class="container">
    <div class="navbar">
        <a class="a-link-margin" th:href="@{/} ">На главную</a>
        <ul class="p-l-500">
            <li><a class="a-link-margin" th:href="@{/logout}">
                Выход
            </a></li>
        </ul>
    </div>
</div>
<div class="text-center">

    <div class="table-container-small table-container">
        <table>
            <thead>
            <tr>
                <th class="a-link-no-margin">Id</th>
                <th class="a-link-no-margin">Название</th>
                <th class="a-link-no-margin">Цена</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product: ${products}">
                <td th:text="${product.id}" class="a-link-no-margin" ></td>
                <td th:utext="${product.product_name}" class="a-link-no-margin"></td>
                <td th:utext="${product.product_cost}" class="a-link-no-margin"></td>
            </tr>
            </tbody>
        </table>
        </form>
    </div>
</div>
</body>
</html>