<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.png}"/>
</head>
<body class="limiter">
<div class="container">
    <div class="navbar">
        <a class="a-link-margin" th:href="@{/} ">На главную</a>
        <ul class="p-l-500">
            <li><a class="a-link-margin" th:href="@{/logout}">
                Выход
            </a></li>
        </ul>
    </div>
</div>

<form class="login100-form validate-form" th:action="@{/buyer/buyProduct}" method="post">

    <div>
        Информация о покупке<br>
        <div class="table-container-small table-container">
            <table>
                <thead>
                <tr>
                    <th class="a-link-no-margin">Название</th>
                    <th class="a-link-no-margin">Стоимость за 1 шт</th>
                    <th class="a-link-no-margin">Продавец</th>
                    <th class="a-link-no-margin">Имя пользователя продавца</th>
                </tr>
                </thead>
                <tbody>
                    <td class="a-link-no-margin" th:text="${product.product_name}"></td>
                    <td th:utext="${product.product_cost}" class="a-link-no-margin"></td>
                    <td th:utext="${seller.firstName}" class="a-link-no-margin"></td>
                    <td th:utext="${seller.username}" class="a-link-no-margin"></td>
                </tbody>
            </table>
</form>
</div>
    </div>

    <div class="wrap-input100 validate-input m-b-10">
        <input class="input100" type="text" placeholder="Количество товара" id="count" name="count">
    </div>

    <div class="wrap-input100 validate-input m-b-10">
        <input class="input100" th:value = "${product.id}" type="hidden" placeholder="Id товара" id="idProduct" name="idProduct">
    </div>

    <div class="wrap-input100 validate-input m-b-10">
        <input class="input100" th:value = "${product.idSeller}" type="hidden" placeholder="Id продавца" id="idSeller" name="idSeller">
    </div>

    <div class="wrap-input100 validate-input m-b-10">
        <input class="input100" type="hidden" th:value = "${buyer.id}" id="idBuyer" name="idBuyer">
    </div>
    <div class="container-login100-form-btn p-t-10">
        <button class="login100-form-btn">
            Отправить
        </button>
    </div>
</form>



</body>
</html>